*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(23, 95, 71);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,3);
    font-size: xx-large;
    color: rgb(77, 10, 10);
    background-color: rgb(185, 185, 62);
}

.rbtn{
    padding: 1rem;
    background-color: black;
    color: azure;
    border-radius: 10px;
    border: none;
}

#new-btn{
    padding: 1rem;
    background-color: black;
    color: azure;
    border-radius: 10px;
    border: none;
}

#msg{
    color: azure;
    font-size: large;
}

.msg-container{
    height : 20vmin;
}

.hide{
    display: none;
}